.tableBody{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 63px;
}

.table{
    width: 100%;
}

th{
    color: #1D1D1D;
    font-family: Arimo;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

td{
    text-align: center;
}

.tableTr{
    height: 95px;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    background-color: #fff;
    cursor: pointer;
}

.tableImg{
    width: 48px;
    height: 48px;
    margin-right: 20px;
}

.CardName{
    color:  #555;
    font-family: Arimo;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.TableTd{
    color: #555;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.TableTdd{
    color: #555;
    font-family: Lato;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px !important;
    gap: 14px;
}

.cardFunctionalButon{
    background: #fff;
    border: 1px solid darkgray;
    padding: 7px;
    border-radius: 10px;
    width: 50px;
    cursor: pointer;
}

#cardIncrement{
    display: flex;
    gap: 10px;
}

.orderButton{
    background: #1D1D1D;
    width: 130px;
    height: 40px;
    border: 0;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.orderButtonBody{
    padding-right: 135px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}