.headerContainer{
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 22px 63px 22px 65px;
    background: #FFF;
}

.headerLeft{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 140px;
}

.headerRight{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.headerListBody{
    display: flex;
    gap: 24px;
    list-style-type: none;
}

.headerListItem a{
    text-decoration: none;
    color: #024E82;
    text-align: center;
    font-family: Arimo;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.headerNav{
    display: flex;
    align-items: center;
}